<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Jonathan Mata</title>
    <link rel="stylesheet" href="../style/aboutMestyle.css">
</head>
<body>
    <nav>
        <a href="../index.html">
            <svg id="backarrow" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
            </svg>   
        </a>
        <img src="../picturesForWebsite/A2E3D434-972B-417D-92E2-4EB829AC871C_1_105_c.jpeg" alt="Picture of the creater of the website">
    </nav>
<main>
    <div class="about">
            <img src="../picturesForWebsite/A2E3D434-972B-417D-92E2-4EB829AC871C_1_105_c.jpeg" alt="Picture of the creater of the website">
            <div>
                <h1>Here's a bit about me</h1>
                <p>I'm a full stack and AI developer</p>
                <p>I'm currently attending The University at Buffalo presuing my Bachelors degree in Computer Science</p>
                <p>I have resived my associates degree from Suffolk County Community College with honors</p>
                <p>Some of my hobbies are wietgh lifting, sports, playing the bass, and cooking</p>
                <p>I have a blog/diary about what i learned for the week and my goals for the up and coming week in terms of programming</p>
                <p>This helps me keep focuse and work towards gaols that I have set myself if you want to check it out press the arrow back to look for my blog</p>
            </div>
    </div>

    <div class="coding">
            <h2>Here's what I've written about</h2>
            <p>Besides the ever-growing mound of unpublished fiction accumulating in various folders on my desktop, I've written quite a lot of copy and content for the select clients I've worked with so far.</p>
            <p>In a nutshell, here's what I've written about:</p>
            <ul>
                <li>Brazilian Jiu-Jitsu, Submission Grappling, and Martial Arts (blog posts, newsletters/emails, speeches, book reviews, instructional DVD clip descriptions, competition event reports/recaps, interviews)</li>
                <li>Real Estate Services (how-to guides, website content/design, mini e-books, newsletters/email blasts)</li>
                <li>Skin Care Products (blog posts, website content/design)</li>
                <li>Marketing Services (services, website content/design)</li>
            </ul>
    </div>

    <div class="skills">
            <img src="path_to_your_image2.jpg" alt="Coffee and laptop">
            <div>
                <h2>Here's what I bring to the table</h2>
                <p>When it comes to writing, I have a wide variety of experience. I can write copy, I can write content, I can write fiction, and I can write for academia (and more!).</p>
                <p>This breadth of experience means that I understand tone and audience very, very well. As a result, I can alter my style to fit your specific needs and, more importantly, the needs of your audience.</p>
                <p>Also, I'm a professional - I know how to work with clients to get them what they want when they want it. I have strong communication skills, great attention to detail, and I always meet my deadlines.</p>
                <p>Get in touch, and let's get to work!</p>
                <p><a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSGLdkFNmCkQnQmhDLfWpWRfCmbCxbBtfVCdXLQVcvDPwdwqcgkDXZJtnNjVCBMmQccNSVCT">jonna.mata2004@gmail.com</a></p>
            </div>
        </div>
</main>

</body>
</html>
